<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <appSettings>
    <add key="MailServer" value="spdc-smtp1.africa-me.shell.com"/>
    <add key="MailUsername" value="mail username "/>
    <add key="MailPassword" value="mail password"/>
    <add key="MailFrom" value="isaac.bejide@shell.com"/>
    <add key="EnableErrorLogEmail" value="false"/>
    <add key="ErrorLogEmail" value="isaac.bejide@shell.com"/>
    <add key="ProductsPerPage" value="6"/>
    <add key="ProductDescriptionLength" value="60"/>
    <add key="SiteName" value="CPDMS - Electronic Investment Proposal."/>
    <add key="SiteHostName" value="sww.scin.cpdms.shell.com"/>
    <add key="DevelopmentEnvironment" value="phc-v-01010"/>
    <!--<add key="EIPInvestmentProposalDocuments" value="\\PHC-S-04055\\CPDMS\\EIP\\EIPIPDocuments\\" />
    <add key="EIPInvestmentProposalDocuments" value="\\PHC-S-04055\EIPIPDocuments\\"/>-->
    <add key="EIPInvestmentProposalDocuments" value="C:\Apps\SPDC Projects\EIP\EIPIPDocuments\"/>
    <add key="IWH" value="COMPLETE_STAFF_DETAILS@IWH_LINK.WORLD"/>
    <add key="cpdms.AdminName" value="UIG-IT-ASSIST-BUSINESS"/>
    <add key="cpdms.AdminMail" value="isaac.bejide@shell.com"/>
    <add key="cpdms.BccAdmin" value="False"/>
    <add key="adminExt" value="1010 opt 2"/>
    <add key="maxRequestLength" value=""/>
    <!--<add key="EIPInvestmentProposalDocuments" value="phc-v-01010\\CPDMS\\EIPIPDocuments\\"/>
    <add key="EIPInvestmentProposalDocuments" value="\\PHC-S-04151\\CPDMS\\EIP\\EIPIPDocuments\\"/>-->
  </appSettings>
  <connectionStrings>
    <clear/>
    <!--<add name="EIPConnectionString" connectionString="Data Source=bioscom-pc;User id=cpdms;Password=cpdms12345;Unicode=True" providerName="System.Data.OracleClient" />
    <add name="EIPConnectionString" connectionString="user id=cpdms;Persist Security Info=True;password=cpdms12345;data source= BUSAPP_P.WORLD " providerName="System.Data.OracleClient" />-->
    <add name="EIPConnectionString" connectionString="user id=cpdms; password=cpdms12345; data source = test10.world" providerName="System.Data.OracleClient"/>
  </connectionStrings>
  <system.web>
    <httpRuntime maxRequestLength="1048576"/>
    <!--<httpModules>
      <add name="Session" type="System.Web.SessionStateModule"/>
    </httpModules>-->
    <sessionState mode="InProc" cookieless="false" timeout="120"/>
    <!--<sessionState cookieName="cookOrp" mode="InProc" timeout="120"></sessionState>-->
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
    </httpHandlers>
    <!--<httpRuntime executionTimeout="90" maxRequestLength="8192" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100"/>-->
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=9.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices.Protocols, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.RegularExpressions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider"/>
      </buildProviders>
    </compilation>
    <pages styleSheetTheme="DataWebControls" enableEventValidation="true" viewStateEncryptionMode="Always" enableSessionState="true" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <!--<controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>-->
      <namespaces>
        <clear/>
        <add namespace="System"/>
        <add namespace="System.Collections"/>
        <add namespace="System.Collections.Specialized"/>
        <add namespace="System.Configuration"/>
        <add namespace="System.Text"/>
        <add namespace="System.Text.RegularExpressions"/>
        <add namespace="System.Web"/>
        <add namespace="System.Web.Caching"/>
        <add namespace="System.Web.SessionState"/>
        <add namespace="System.Web.Security"/>
        <add namespace="System.Web.Profile"/>
        <add namespace="System.Web.UI"/>
        <add namespace="System.Web.UI.WebControls"/>
        <add namespace="System.Web.UI.WebControls.WebParts"/>
        <add namespace="System.Web.UI.HtmlControls"/>
        <add namespace="System.Data.OracleClient"/>
        <add namespace="System.Net"/>
        <add namespace="Microsoft.Reporting"/>
        <add namespace="Microsoft.Reporting.WebForms"/>
      </namespaces>
      <controls>
        <add tagPrefix="eip" tagName="IPDetailInfo" src="~/UserControl/IPDetailInfo.ascx"/>
        <add tagPrefix="eip" tagName="dateControl" src="~/UserControl/Others/dateControl.ascx"/>
      </controls>
    </pages>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
    -->
    <authentication mode="Windows">
      <forms loginUrl="Index.aspx?Msg=nLg" name="authOpex" timeout="180" path="/" defaultUrl="taskPage.aspx?Msg=sWb" slidingExpiration="true"/>
    </authentication>
    
    <authorization>
      <deny users="?"/>
      <allow users="*"/>
    </authorization>
    <!-- 
    <authentication mode="Windows"/>
    <identity impersonate="false"/>
    <authorization>
      <deny users="?"/>
    </authorization>
    
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
-->
    <customErrors defaultRedirect="Profiles/serverError.htm" mode="RemoteOnly">
      <!--<customErrors defaultRedirect="GenericErrorPage.htm" mode="RemoteOnly">-->
      <error statusCode="403" redirect="Common/IPRegister.aspx"/>
      <error statusCode="404" redirect="Profiles/pageNotFound.aspx"/>
      <error statusCode="500" redirect="Profiles/serverError.htm"/>
    </customErrors>
     
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <!--<modules>
      <add name="ScriptModule" preCondition="integratedMode" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </modules>-->
    <defaultDocument>
      <files>
        <clear/>
        <add value="index.aspx"/>
      </files>
    </defaultDocument>
    
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824"/>
      </requestFiltering>
    </security>
    
  </system.webServer>
  
   <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="C:\Apps\EIPMails"/>
      </smtp>
    </mailSettings>
  </system.net> 

</configuration>